body {
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    color: white;
    background-color: #FCD232;
    border: none;
    border-radius: 0%; 
    margin: 0;
    height: 90px;
}
.navbar-default
.navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-brand  {
    color: white;
}
.container-fluid {
  padding: 0%;
}
#bs-example-navbar-collapse-1 > ul > li > a {
    color: black;
}
body > div > nav > div > a > img {
    margin-left: 100px;
    margin-top: 10px;
}
#bs-example-navbar-collapse-1 > ul {
    margin-right: 70px;
    margin-top: 15px;
}
#hire {
    border: none;
    border-radius: 7px;
    margin-right: 80px;
    margin-top: 20px;
    padding-top: 0px;
    width: 200px;
    height: 41px;
    background-color:red;
    color: white;
}
.frontimg {
    height: 400px;
    background-image: url(../images/stairs5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#brainsterlabs {
    margin: 0px;
    text-align: center;
    padding-top: 160px;
    color: white;
    font-size: 45px;
}
#section1 > div {
    background-color: rgb(48, 47, 55);
    height: 80px;
}
#firstcol1 {
    border-right: 1px solid white;
}
#firstcol2 {
    border-right: 1px solid white;
}
#section1 > div > h3 {
    color: white;
    font-size: 17px;
    padding-left: 40px;
}
#section2 > h1 {
    margin-top: 35px;
    text-align: center;
    color: rgb(48, 47, 55);
}
#secondcol1 {
    display: flex;
    justify-content: center;
}
#tagmarketing {
    background-color: #FCD232;
    height: 30px;
    width: 190px;
    text-align: center;
    padding-top: 7px;
}
.container-fluid {
    background-color: #FCD232;
}
.thumbnail {
    border: none;
    border-radius: 10px;
    padding: 0px;
}
.row {
    margin: 0px;
}
.navbar-right {
    margin-right: 0px;
}
.caption > h3 {
    margin: 0px;
}
#buttonthumb {
    margin-left: 160px;
    width: 160px;
    background-color: red;
}
#filters123 {
    margin-top: 30px;
}
#cont2 {
    padding-bottom: 150px;
}
#footer {
    background-color:  rgb(48, 47, 55);
    text-align: center;
    color: white;
    padding-top: 10px;
}
#footertext {
    padding-bottom: 5px;
}
.naslov > h1{
text-align: center;
margin-top: 100px;
margin-bottom: 100px;
font-size: 50px;
}
#formform {
    background-color: rgb(252, 210, 50);
    height: 350px;
}
#navborder{
    border-bottom: 1px solid black;
}
#selectbutton {
    width: 300px;
}
.button1 {
    border: none;
    border-radius: 7px;
    margin-right: 80px;
    margin-top: 20px;
    padding-top: 10px;
    width: 200px;
    height: 41px;
    background-color:red;
    color: white;
  }
.forma {
    padding-bottom: 170px;
}
/* custom dropdown styling */
.custom-select {
    position: relative;
  }
  .options {
    background: white;
    position: absolute;
    z-index: 1;
    border: 1px solid #2e2e2e;
    border-radius: 3px;
    box-shadow: 3px 7px 10px #0000007a;
    margin: 5px 0;
    margin-top: 25px;
    min-width: 100%;
    display: none;
  }
  
  .options.open {
    display: block;
    width:315px;
  }
  .option {
      border-bottom: 1px solid black;
    padding-top: 8px;
    padding-bottom: 15px;
    padding: 8px 20px 0;
  }

  .option:hover {
    background-color: #ec3b3c;
    color: white;
    cursor: pointer;
  }
  
  .option.selected {
    background-color: tomato;
  }
  
  .selected-value {
    display: block;
    border: 0px solid #2e2e2e;
    border-radius: 7px;
    padding: 14px 200px;
    cursor: pointer;
    background-color: white;
    padding-left: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
  }
 #test {
   margin-top: 0px;
  }
  #hire1 {
    border: none;
    border-radius: 6px;
    margin-right: 80px;
    margin-top: 27px;
    width: 540px;
    height: 45px;
    background-color:red;
    color: white;
}
.projects-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  
  .projects-nav li {
    background-color: #302e38;
    padding: 20px 60px 20px 20px;
    width: 100%;
    border-right: 1px solid #555555;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .projects-nav li:last-of-type {
    border-right: none;
  }
  
  .projects-nav li.active {
    background-color: #ec3b3c;
    color: #302e38;
  }
  
  .projects-nav li i {
    position: absolute;
    right: 20px;
    top: 35px;
    font-size: 36px;
    display: none;
  }
  
  .projects-nav li:hover {
    cursor: pointer;
  }
  
  .projects-nav li.active i {
    display: block;
  }
  
  .container h1 {
    font-size: 36px;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }
  
  .cards-container .card {
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
    box-shadow: 0 0 5px gray;
    border-radius: 15px;
  }
  
  .card img {
    max-height: 210px;
  }
  
  .cards-container .card-holder {
    margin-bottom: 30px;
  }
  #tagmarketing2 {
    background-color: #FCD232;
    height: 30px;
    width: 220px;
    text-align: center;
    padding-top: 7px;
  }
  #proekti {
      padding-bottom: 50px;
      font-size: 45px;
  }
.projects-nav li i {
    position: absolute;
    right: 45px;
    top: 20px;
    font-size: 36px;
    display: none;
}
.load-more-container {
  clear: both;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.load-more {
  display: flex;
  width: 200px;
  background-color: #ec3b3c;
  padding: 10px 6px;
  border-radius: 2px;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.toggle-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  align-items: flex-end;
}

.toggle-nav:hover {
  cursor: pointer;
}

.toggle-nav div {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #555555;
  margin: 3px;
}

.toggle-nav div:nth-child(2) {
  width: 75%;
}

.toggle-nav div:nth-child(3) {
  width: 50%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
  height: 100%;

  background-color: #302e38;

  display: flex;
  flex-direction: column;

  width: 0;
  overflow-x: hidden;

  transition: width 0.35s ease-in-out;
  max-width: 100vw;
}

.sidebar a {
  color: #868686;
  padding: 20px;
  font-size: 1.3em;
  text-decoration: none;
  transition: 0.5s;
  white-space: nowrap;
}

.sidebar a:hover {
  color: white;
}
.sidebar a i {
  position: absolute;
  right: 20px;
  top: 20px;
}
#tip {
  margin-left:0px;
}
.glyphicon {
  left: 320px;
}
/* mobile---------------- */
@media (min-width: 360px){
  .projects-nav {
    display: flex;
   flex-direction: column;
  }
  #buttonthumb {
    margin-left: 110px;
  }
  .projects-nav > li > i {
  right: 20 px;
  }
    body > div > nav > div > a > img {
      margin-left: 30px;
      margin-top: 10px;
  } 
  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 13.5px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  .glyphicon {
    left: 130px;
  }
  .selected-value {
    padding: 14px 109px;
    padding-left: 20px;
  }
  #hire1{
    margin-right: 0px;
    margin-top: 190px;
    width: 355px;
  }
  .options.open {
    display: block;
    width:355px;
  }
  }
  @media (min-width: 414px){
    #buttonthumb {
      margin-left: 160px;
    }
    body > div > nav > div > a > img {
      margin-left: 30px;
      margin-top: 10px;
  } 
  .glyphicon {
    left: 135px;
  }
  #hire1{
    margin-right: 0px;
    margin-top: 190px;
    width: 360px;
  }
  .options.open {
    display: block;
    width:355px;
  }
  }
  @media (max-width: 375px){
    #buttonthumb {
      margin-left: 110px;
    }
    .glyphicon {
      left: 100px;
    }
    .options.open {
      display: block;
      width:315px;
    }
    body > div > nav > div > a > img {
      margin-left: 30px;
      margin-top: 10px;
  } 
    
    .selected-value {
      padding: 14px 109px;
      padding-left: 20px;
  }
  #hire1{
    margin-right: 0px;
    margin-top: 190px;
    width: 319px;
  }
  }
  @media (max-width: 1023px) and (min-width: 768px){
  #hire1 {
      margin-right: 0px;
      margin-top: 180px;
      width: 440px;
  }
  .options.open {
    display: block;
    width:690px;
  }
  #bs-example-navbar-collapse-1 > ul {
    margin-right: 30px;
  }
  }
  @media (min-width: 1024px){
    .options.open {
      display: block;
      width:540px;
    }
    #hire1 {
      margin-right: 0px;
      margin-top: 27px;
      width: 540px;
  }
    #bs-example-navbar-collapse-1 > ul {
      margin-right: 100px;
    }
    #hire {
      margin-right: 80px;
    }
    .glyphicon {
      left: 320px;
    }
  
    
  }
  @media (min-width: 768px) and (max-width: 1023px){
    body > div > nav > div > a > img {
      margin-left: 30px;
      margin-top: 10px;
  }
  .glyphicon {
    left: 470px;
  }
  #buttonthumb {
    margin-left: 140px;
  }
  #bs-example-navbar-collapse-1 > ul {
    margin-right: 30px;
  }
  #hire {
    margin-right: 0px;
    display: none;
  }
  
  #selectbutton {
    width: 300px;
  }
  .selected-value {
    border: 0px solid #2e2e2e;
    border-radius: 7px;
    padding: 14px 233px;
    cursor: pointer;
    background-color: white;
    padding-left: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
  }
  }
  @media (min-width: 768px)  and (max-width: 991px){
  .navbar-toggle {
      display: block;
  }
  .navbar-header {
    float: none;
  }
  #bs-example-navbar-collapse-1 > ul {
    display: none;
    margin-right: 0px;
  }
  .button1 {
    margin-right: 0px;
    display: none;
  }
  .navbar-right {
    display: none;
  }
  #selectbutton {
    width: 300px;
  }
  
  .selected-value {
    border: 0px solid #2e2e2e;
    border-radius: 7px;
    padding: 14px 483px;
    cursor: pointer;
    background-color: white;
    padding-left: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
  }
  .form-group {
    margin-bottom: 15px;
  }
  #hire1 {
    margin-top: 195 px;
    margin-right: 0px;
    width: 690px;
  }
  } 
  @media (min-width: 1295px){
    .projects-nav {
      list-style: none;
      margin: 0;
      padding: 0;
    
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
  .thumbnail:hover{
    position:relative;
    top:-15px;
    width:350px;
    height:auto;
    display:block;
    z-index:999;
  }
  }